<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/changeSessionLanguage" method="get">
        <input name="lang" type="hidden" value="zh"/>
        <button>中文</button>
    </form>
    <form action="/changeSessionLanguage" method="get">
        <input name="lang" type="hidden" value="en"/>
        <button>english</button>
    </form>
    <p><label th:text="#{welcome}"></label></p>
</body>
</html>